$white: #ffffff;
$black: #000000;
$blue:  #0000ff; 
$grey:  #f3f3f3; 
$dark-grey: #434343; 
$green: #C1FD33;
$orange: #FD5F00;
$box-height: 40vh;
$times: 'Times New Roman';
$eb: 'EB Garamond';
@mixin position {
    left: 90px;
    position: absolute;
    right: 90px;
}
//reset 
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    padding: 10px 45px 45px 45px;
}

* {
    font-family: $times;
    letter-spacing: 2px;
}

p {
    font-family: $times;
    font-size: 36px;
}

h1, h2, h4 {
    font-weight: 100;
}

h1 {
    font-size: 48px;
    color: $black;
}

h2 {
    font-size: 36px;
    font-weight: 100;
}

h4 {
    font-size: 18px;
    color: $black;
}

header {
    padding-top: 10px;
    padding-bottom: 15px;
    a {
        color: $black;
        text-decoration: none;
    }
    .logo {
        text-transform: uppercase;
    }
}

section {
    height: 100vh;
    background: $grey;
    .about-section {
        bottom: 30px;
        @include position;
    }
    .work-section {
        margin-top: 30px;
        @include position;
        .greeting {
            margin-bottom: 20px;
        }
    }
    .contact-section {
        @extend .work-section;
    }
}

.work {
    background: $white; 
}

.greeting {
    border-bottom: 1px solid $dark-grey;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.work {
    .work-wrapper {
        float: left; 
        display: inline-block;
        &.blue-box {
            width: 60%;
            height: $box-height;
            background: $blue;
        }
        &.black-box {
            width: 40%;
            height: $box-height;
            background: $black;
        }
        &.green-box {
            width: 45%;
            height: $box-height;
            background: $green;
        }
        &.orange-box {
            width: 55%;
            height: $box-height;
            background: $orange;
        }
        & h4 {
            padding:30px;
        }
    }
}