$blue: #2a64f8; 
$incon: 'Inconsolata', monospace;
$play: 'Playfair Display', serif;

$mobile: 'max-width: 448px';

//reset 
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    padding: 50px 100px;
} 

main {
    margin-top: 40px;
    position: relative;
}

nav {
    ul{
        position: fixed; 
        right: 80px;
        li {
            list-style-type: none;
            float: left;
            display: inline;
            margin-right:  10px;
            font-family: $incon;
        }
    }
}

a {
    text-decoration: none;
    color: $blue;
    transition: .3s;
    &:hover {
        font-style: italic;
        background: $blue;
        color: #fff;
    }
}

.about {
    position: relative;
    bottom: -30px;
}

.portfolio, .contact {
    display: none;
}

.contact {
    li, h2 {
        line-height: 1.6;
    }
    h2 {
        display: block;
        font-style: normal;
    }
}


section {
        h1 {
            font-size: 96px;
            font-style: italic;
            letter-spacing: 1px;
            font-family: $play !important;
            color: $blue;
            text-transform: lowercase;
            font-weight: 100;
            display: inline-block;
        }
        h2 {
            display: inline-block;
            letter-spacing: 1px;
            font-weight: 100;
            font-family: $incon;
            font-style: italic;
            font-size: 18px;
            margin-right: 20px;
        }
        p {
            font-family: $incon;
            width: calc(60% - 50px);
            line-height: 1.8em;
            text-align: justify;
            padding-top: 10px;
        }
        li {
            font-family: $incon;
        }
}

.portfolio {
    ol {
        padding-top: 10px;
    }
}

//portfolios-ordino
#ordino-section {
        padding-bottom: 20px;
        h2 {
            color: $blue;
            font-style: normal;
            padding: 20px 0px;
            font-size: 24px;
        }
        li {
            line-height: 1.8;
        }
    a {
        padding: 20px 30px;
        background: #fff;
        border: 1px solid $blue;
        color: $blue;
        transition: .3s;
        font-style: italic;
        display: inline-block;
        &:hover {
            background: $blue;
            color: #fff;
        }
    }
}

.page-border {
    .pb-top, .pb-bottom, .pb-left, .pb-right {
        position: fixed; 
        background: #fff;
    }
    .pb-top, .pb-bottom {
       left: 0;
       right: 0;
       height: 20px;
    }
    .pb-top {
        top: 0;
        border-bottom: 1px solid $blue;
    }
    .pb-bottom {
        bottom: 0;
        border-top: 1px solid $blue;
    }
    .pb-left, .pb-right {
       top: 0;
       bottom: 0;
       width: 20px;
    }
    .pb-left {
        left: 0;
        border-right: 1px solid $blue;
    }
    .pb-right {
        right: 0;
        border-left: 1px solid $blue;
    }
}

